.signin-container  {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50%;
  left: 50%;
  /*transform: translate(-50%, -50%);*/
  background: linear-gradient(135deg, purple, pink);
  padding: 30px;
  text-align: center;
  width: 400px;
}

.signin-form form {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Increased spacing between inputs */
}

.role-button, .signin-button, .change-role-button {
  width: 100%;
  padding: 10px;
  margin-top: 20px; /* Increased space above buttons */
  border: none;
  border-radius: 5px;
  background: #8e44ad;
  color: white;
  cursor: pointer;
}

.role-button:hover, .signin-button:hover, .change-role-button:hover {
  background: #6c3483;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 15px; /* Increased spacing between input fields */
  border: 1px solid #ccc;
  border-radius: 5px;
}
