
.main_header {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    /* background-color: rgb(114, 114, 205); */
    /* margin-top: rem; */
}

.main_header-container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
    margin-left: 3rem;
}

.main_header-left{
    margin-top: -15rem;
}

.main_header-left h4{
    margin-bottom: -3rem;
    font-weight: 400;
    font-size: 1.5rem;
}

.main_header-left p{
    margin: 0.5rem 0 2rem;
    font-size: 2rem;
    
}

.main_header-left h1{
    margin-bottom: 5rem;
    font-size: 4.5rem;
    /* margin-top: -rem; */
}

.main_header-right{
    display: grid;
    place-items: center;
    position: relative;
}

/* .main_header-circle{
    width: 25rem;
    height: 25rem;
    background: linear-gradient(75 deg, #3498db,transparent);
    border-radius: 50%;
    position: absolute;
} */

.main_header-image{
    position: relative;
    margin-bottom: 15rem ;
}

.circle-img{

        width: 500px; /* Set a width */
        height: 500px; /* Set the same height to keep it square */
        clip-path: circle(50%); /* Clips the image to a circular shape */
        object-fit: cover; /* Ensures the image fits within the circle */
    
}

.main-header_btn {
    margin-top: -1rem; 
    background: linear-gradient(135deg, purple, pink);
    color: #ffffff; /* Text color */
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  
  .main-header_btn:hover {
    transform: translateY(-10px); /* Slight lift effect */
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3); /* Enhanced shadow */
  }
