/* ExplorePage.css */

.explore-page-container {
    padding: 20px;
    text-align: center;
  }
  
  .explore-page-container h1 {
    font-size: 58px;
    color: rgb(195, 85, 158);
    margin-bottom: 10px;
  }
  
  .explore-page-container p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .explore-section {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 80%;
    text-align: left;
  }
  
  .explore-section h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .explore-section p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .explore-section .explore-button {
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .explore-section .explore-button:hover {
    background-color: #0056b3;
  }
  