/* Overall Container */
.page-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.policies-container {
  flex: 1;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  overflow-y: auto;
  height: 100vh;
}

/* Search Bar */
.search-container {
  text-align: center;
  margin-bottom: 30px;
}

.search-input {
  width: 80%;
  max-width: 500px;
  padding: 10px;
  font-size: 1rem;
  border: 2.5px solid #b8378d;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.search-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3);
}

/* Policies List */
.policies-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}
.policies-list hr{
  color:#b8378d;
}
/* Policy Card */
.policy-card {
  background: #fff;
  border: 2.5px solid #b8378d;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.policy-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.policy-name {
  font-size: 1.5rem;
  color: hsl(0, 0%, 0%);
  margin-bottom: 10px;
}

.policy-description {
  color: #555;
  margin-bottom: 10px;
}

/* Benefits List */
.policy-benefits {
  list-style-type: disc;
  margin-left: 20px;
  color: #333;
}

.policy-benefits li {
  margin-bottom: 5px;
}

/* No Policies Message */
.no-policies {
  font-size: 1.4rem;
  color: #ff4d4d;
  text-align: center;
}

/* Fixed side images */
.fixed-images {
  margin-top: 30px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left-side {
  left: 20px;
}

.right-side {
  right: 20px;
}

.fixed-images img {
  width: 260px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fixed-images img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Responsive Design */
@media (max-width: 768px) {
  .search-input {
    width: 90%;
  }

  .header {
    font-size: 1.8rem;
  }

  .fixed-images img {
    width: 100px;
  }
}
